# Netbeans files
/nbproject/private

# Build files
/build/
/dist/
/store/OpenBLCMM*
/store/Output
/store/compiled
/store/steamos
/store/*.dll
/store/archive

# OpenBLCMM user-data files
/blcmm_logs/
/backups/
/extracted-data
/general.options
/crash.boom

# OpenBLCMM Data
blcmm_data_*.jar

# OSX Packaging -- don't want to commit this just yet in case it ends up
# changing a bunch before we're ready for release.
/release-processing/osx-app

# Windows Packaging -- we're including the VC++ Redist
/windows-processing/VC_redist.x64.exe

