#   Netbeans files (For some reason it doesn't work without ** in front of it?)
**/nbproject/private

#   build files
/build/
/dist/
/store/OpenBLCMM*
/store/Output
/store/compiled

# OpenBLCMM user-data files
/blcmm_logs/
/backups/
/extracted-data
/general.options
/crash.boom

# OpenBLCMM Data
blcmm_data_*.jar

